# Ignorar tudo dentro de simple_speaker
/simple_speaker/**

# Permitir a pasta simple_speaker/
!simple_speaker/

# Permitir pubspec.yaml
!simple_speaker/pubspec.yaml

# Permitir pasta lib/
!simple_speaker/lib/
!simple_speaker/lib/**

# Permitir caminho até AndroidManifest.xml
!simple_speaker/android/
!simple_speaker/android/app/
!simple_speaker/android/app/src/
!simple_speaker/android/app/src/main/
!simple_speaker/android/app/src/main/AndroidManifest.xml


# Simple_Notificator
/simple_notificator/**

!simple_notificator/

# Permitir pubspec.yaml
!simple_notificator/pubspec.yaml

# Permitir pasta lib/
!simple_notificator/lib/
!simple_notificator/lib/**

# Permitir caminho até AndroidManifest.xml
!simple_notificator/android/
!simple_notificator/android/app/
!simple_notificator/android/app/src/
!simple_notificator/android/app/src/main/
!simple_notificator/android/app/src/main/AndroidManifest.xml

!simple_notificator/android/build.gradle.kts